
@{
    ViewBag.Title = "IniciodeSesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/View/LocalValidation.js"></script>
<h2 class="my-5 text-primary">Inicio de Sesion</h2>

