@model DTO.Usuario

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@using (Html.BeginForm("RecuperarContrasena", "IniciarSesion", FormMethod.Post))
{
    <h2>Recuperar contraseña</h2>
    <h4 class="mb-3">Enviaremos un correo electrónico con una contraseña nueva</h4>
    <script src="~/Scripts/View/RecuperarContrasenaHandler.js"></script>

    <div>
        @if (ViewBag.Message != null)
        {
            <div>@ViewBag.Message</div>
        }
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <fieldset>
                            <legend>Ingrese su correo electrónico</legend>

                            @if (ViewBag.RecoveryEmailSent != null)
                            {

                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <p class="mb-0">Hemos enviado las instrucciones a su correo electrónico.</p>
                                </div>
                            }

                            <div class="form-label">
                                <label for="correoElectronicoInput">Correo electrónico</label>
                                @Html.TextBoxFor(u => u.CorreoElectronico, new { id = "correoElectronicoInput", @class = "form-control" })
                                @Html.ValidationMessage("usuario", "El campo correo electrónico es requerido.", new { id = "validacionCorreoElectronico", @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-outline-primary mt-3 disabled" id="btnLogin" disabled>Enviar correo</button>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

