
@{
    ViewBag.Title = "Premium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/View/Premium.js"></script>


<div class="container">
    <h1 style="text-align:center" class="my-5 text-primary">PREMIUM</h1>
</div>



<div class="container-fluid py-4">

    <div class="card-text">

        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-center"><span class="h2">ESTÁNDAR</span></th>
                    <th scope="col" class="text-center"><span class="h2">PREMIUM</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td></td>
                    <td class="text-center"><span class="h3">$0.00</span><span class="small">/mes</span></td>
                    <td class="text-center"><span class="h3">$65.99</span><span class="small">/mes</span></td>
                </tr>
                <tr>
                   
                    <td></td>
                    <td></td>
                    <td><button type="button" class="btn btn-info" id="updatePremium">Actualizar Plan</button></td>
                </tr>
                <tr>
                    <td><span class="h3">Características Principales</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    
                    <td>Realizar ofertas en licitaciones</td>
                    <td class="text-center">⩗</td>
                    <td class="text-center">⩗</td>
                </tr>
                <tr>
                    
                    <td>Mantener in inventario de productos en la aplicación</td>
                    <td class="text-center">X</td>
                    <td class="text-center">⩗</td>
                </tr>
                <tr>
                    
                    <td>Adjudicación automática de licitaciones basada en su inventario</td>
                    <td class="text-center">X</td>
                    <td class="text-center">⩗</td>
                </tr>
                <tr>
                    
                    <td>Envío de notificaciones de licitaciones nuevas</td>
                    <td class="text-center">X</td>
                    <td class="text-center">⩗</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
