@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">

    <section class="row" aria-labelledby="aspnetTitle">
        <h2>¿Por qué DevAces?</h2>
    </section>

    <div class="container">
        <section class="row">
            <br>
            Somos un equipo de desarrolladores dedicado a proveer soluciones comerciales a empresas que buscan un producto robusto, y nuestra imagen debería reflejar eso.

            A traves del uso de la palabra Ace  (Ás  en español), nuestro nombre da a entender que nuestro equipo esta formado por personal experimentado y capaz.

            Mientras que nuestro logo y eslogan (Coding on wings) buscan reforzar este mensaje asociándolo al mundo de la aviación.
            <br />

            <br>
            El logo especificamente imitando un indicador de rumbo/dirección , una alternativa a una brújula utilizada en la aviación que evita los defectos de una brújula tradicional.
            <br />

        </section>
    </div>


    <section class="row">
        <h2>Nuestros Valores</h2>
    </section>


         <div class="container">
              <section class="row">

                    <ul>
                        <li>
                            <strong>Integridad</strong>
                            <br>Somos siempre transparentes y honestos en el trabajo y en negociación, tanto en aspectos legales, laborales como económicos.<br />
                        </li>
                        <li>
                            <strong>Respeto</strong>
                            <br>Mostramos una actitud asertiva con nuestros colaboradores, clientes y la comunidad.<br />
                        </li>
                        <li>
                            <strong>Responsabilidad</strong>
                            <br>Rendimos cuentas por nuestras obligaciones laborales, empresariales y de cumplimiento<br />
                        </li>
                        <li>
                            <strong>Innovación</strong>
                            <br>Descubrimos y fomentamos continuamente el talento humano, para crear nuevas oportunidades de crecimiento de la mano con los avances tecnológicos.<br />
                        </li>
                    </ul>

             </section>
          </div>



</main>