@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <h1 id="title" class="my-5 text-primary">Sistema Integrado de Compras</h1>
        <h2 class="my-5">¿Que es el SIC?</h2>
        <p>
            El Sistema Integrado de Compras del MEP (SIC) le permite a comerciantes, distribuidores y abastecedores aceptar y cumplir licitaciones realizadas por instituciones. Los vendedores pueden hacer ofertas para las listas de artículos que realizan las instituciones y hacer seguimiento de sus ofertas aceptadas en el sistema.
            <br />
            Además, el SIC les proporciona información detallada sobre los pedidos, como la fecha de entrega y la cantidad de artículos solicitados. Con esta herramienta, los vendedores pueden hacer ofertas competitivas y ajustadas a las necesidades de las instituciones del MEP, lo que les permite aumentar sus ventas y expandir su presencia en el mercado educativo.
        </p>
        <p>
            No es necesario tener una cuenta en el SIC para acceder a las licitaciones, pero sí se requiere para hacer ofertas.
        </p>
        <div class="row gx-md-1">
            <div class="col-xxl-2">
                <a>@Html.ActionLink("Explorar Licitaciones", "Licitaciones", "Licitacion", new { area = "" }, new { @class = "btn btn-outline-primary mt-2" })</a>
            </div>
            <div class="col-xl-2">
                <a>@Html.ActionLink("Crear Cuenta", "CrearCuenta", "CrearCuenta", new { area = "" }, new { @class = "btn btn-outline-secondary mt-2" })</a>
            </div>
        </div>



    </section>

   
</main>