
@{
    ViewBag.Title = "CrearCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/View/LocalValidation.js"></script>
<h2 class="my-5 text-primary">Creación de cuenta</h2>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="createAccount">
                    <fieldset>
                        <legend>Ingrese sus datos</legend>

                        <div class="form-group">
                            <label for="userFirstName" class="form-label mt-4">Primer nombre</label>
                            <input type="text" class="form-control" id="userFirstName" placeholder="Ingrese su primer nombre">
                        </div>

                        <div class="form-group">
                            <label for="userSurnames" class="form-label mt-4">Apellidos</label>
                            <input type="text" class="form-control" id="userSurnames" placeholder="Ingrese sus apellidos">
                        </div>

                        <div class="form-group">
                            <label for="userEmail" class="form-label mt-4">Correo electrónico</label>
                            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
                        </div>

                        <div class="form-group">
                            <label for="userPassword" class="form-label mt-4">Contraseña</label>
                            <input type="password" class="form-control" id="userPassword" placeholder="Ingrese su contraseña">
                            <small id="passwordHelp" class="form-text text-muted">
                                Mínimo 8 dígitos, números y símbolos, no puede repetir contraseñas anteriores
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="userPicture" class="form-label mt-4">Imagen de perfil</label>
                            <input class="form-control" type="file" id="userPicture">
                        </div>

                        <button type="button" class="btn btn-primary mt-4" id="btnCreateAccount">Crear</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

