
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>var Id = "@Session["Id"]"</script>
    <script src="~/Scripts/View/InventarioProductos.js"></script>
    <script src="~/Scripts/View/DataTesting.js"></script>
    <script src="~/Scripts/View/ReporteUsuarios.js"></script>
    <script src="~/Scripts/View/ReporteLicitaciones.js"></script>
    <script src="~/Scripts/View/InventarioProductos.js"></script>

    <script src="https://kit.fontawesome.com/b76191ee63.js" crossorigin="anonymous"></script>
}
<br />
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item flex-grow-1 text-center" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" onclick="mostrarTabla('tblUsuarios');" aria-selected="true" role="tab">Listado de usuarios</a>
    </li>
    <li class="nav-item flex-grow-1 text-center" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" onclick="mostrarTabla('tblLicitaciones'); LicitacionesTable();" aria-selected="false" role="tab" tabindex="-1">Listado licitaciones</a>
    </li>
    <li class="nav-item flex-grow-1 text-center" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" onclick="mostrarTabla('tblInventario');" aria-selected="false" role="tab" tabindex="-1">Inventario productos</a>
    </li>
</ul>
<br />

<section id="seccionLicitaciones" style="display: none;">
    <div class="card mb-4">
        <div class="card-body">
            <form class="form-group" id="filtroLicitaciones">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroAnalista">Analista:</label>
                            <input type="text" id="filtroAnalista" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="filtroIdLicitacion">Id licitación:</label>
                            <input type="text" id="filtroIdLicitacion" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="filtroLugarEntrega">Lugar de entrega:</label>
                            <input type="text" id="filtroLugarEntrega" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroTitulo">Título:</label>
                            <input type="text" id="filtroTitulo" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroMontoPresupuestado">Monto presupuestado:</label>
                            <input type="text" id="filtroMontoPresupuestado" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="filtroEstadoLic">Estado:</label>
                            <select id="filtroEstadoLic" class="form-control form-control-sm">
                                <option value="">Todos</option>
                                <option value="Abierta">Abierta</option>
                                <option value="Cerrada">Cerrada</option>
                                <option value="Asignada">Asignada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filtroCierreOfertas">Cierre de ofertas:</label>
                            <input type="date" class="form-control form-control-sm" id="filtroCierreOfertas">
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="button" class="btn btn-primary bg-primary text-light" id="btnBuscarLicitaciones">Buscar</button>
                        <button type="button" class="btn btn-secondary bg-light" id="btnLimpiarLicitaciones">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <table id="tblLicitaciones" class="table table-hover table-light">
            <thead>
                <tr>
                    <th>Analista</th>
                    <th>Id licitación</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Lugar de entrega</th>
                    <th>Cierre de ofertas</th>
                    <th>Monto presupuestado</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal" id="detalleModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle licitación</h5>
                </div>
                <div class="modal-body">
                    <table id="tblDetallesLicitacion" class="table table-hover table-light">
                        <tbody id="tblDetallesLicitacionBody">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary bg-primary text-light" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>






</section>


<section id="seccionInventario" style="display: none;">
    <div class="card mb-4">
        <div class="card-body">

            <form id="filtroProd">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroIdProducto">Id producto:</label>
                            <input type="text" id="filtroIdProducto" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="filtroPrecio">Precio:</label>
                            <input type="number" id="filtroPrecio" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroProducto">Producto:</label>
                            <input type="text" id="filtroProducto" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="filtroFechaCreacion">Fecha de creación:</label>
                            <input type="date" id="filtroFechaCreacion" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroCantidad">Cantidad:</label>
                            <input type="number" id="filtroCantidad" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-4">
                    <button type="button" class="btn btn-primary bg-primary text-light btn-block" id="btnBuscarProductos">Buscar</button>
                    <button type="button" class="btn btn-secondary bg-light" id="btnLimpiarProductos">Limpiar</button>
                </div>
            </form>

        </div>
    </div>
    <div class="text-end mb-4">
        <button type="button" id="btnConfigProducto" class="btn btn-primary bg-primary text-light btn-sm"> Metodo configuración</button>
    </div>
    <div>
        <table id="tblInventario" class="table table-hover table-light">
            <thead>
                <tr>
                    <th>Id producto</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Fecha de creación</th>
                    <th>Cantidad</th>
                    <th>Configuración <button  class="btn btn-sm btn-success crear" data-toggle="tooltip" title="Crear"><i class="fas fa-plus"></i></button></th>
                </tr>
            </thead>
        </table>
        <div class="modal" id="productoModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Método de configuraciones</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmProducto" class="form-group">
                            <h2>Datos del Producto</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="IdProduct">
                                        <label for="txtIdProducto" class="form-label mt-4">Id Producto</label>
                                        <input id="txtIdProducto" type="text" class="form-control form-control-sm" data-column-name="Id" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtProducto" class="form-label mt-4">Producto</label>
                                        <input id="txtProducto" type="text" class="form-control form-control-sm" data-column-name="Nombre" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDescripcion" class="form-label mt-4">Descripción</label>
                                        <textarea id="txtDescripcion" class="form-control" data-column-name="Descripcion"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtPrecio" class="form-label mt-4">Precio</label>
                                        <input id="txtPrecio" type="number" class="form-control form-control-sm" data-column-name="Precio" />
                                    </div>
                                    <div class="form-group" id="FechaCreacion">
                                        <label for="txtFechaCreacion" class="form-label mt-4">Fecha de creación</label>
                                        <input id="txtFechaCreacion" type="date" class="form-control form-control-sm" data-column-name="FechaCreacion" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCantidad" class="form-label mt-4">Cantidad</label>
                                        <input id="txtCantidad" type="number" class="form-control form-control-sm" data-column-name="StockCantidad" />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnGuardar" class="btn btn-primary mt-4 bg-primary text-light">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="seccionUsuarios">
    <div class="card mb-4">
        <div class="card-body">
            <form class="form-group" id="filtroUsr">
                <fieldset>
                    <legend>Filtrado de datos</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="filtroNombre">Nombre:</label>
                                <input type="text" id="filtroNombre" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="filtroApellidos">Apellidos:</label>
                                <input type="text" id="filtroApellidos" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="filtroIdentificacion">Identificación:</label>
                                <input type="text" id="filtroIdentificacion" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="filtroTelefono">Teléfono:</label>
                                <input type="text" id="filtroTelefono" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="filtroEstado">Estado:</label>
                                <select id="filtroEstado" class="form-control form-control-sm">
                                    <option value="2">Todos</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="filtroCorreo">Correo electrónico:</label>
                                <input type="text" id="filtroCorreo" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="filtroRol">Rol:</label>
                                <select id="filtroRol" class="form-control form-control-sm">
                                    <option value="0">Todos</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Analista</option>
                                    <option value="3">Usuario</option>
                                    <option value="4">Premium</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-4">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary bg-primary text-light" id="btnBuscarUsr">Buscar</button>
                            <button type="button" class="btn btn-secondary bg-light" id="btnLimpiarUsr">Limpiar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="text-end mb-4">
        <button type="button" id="btnUserConfig" class="btn btn-primary bg-primary text-light btn-sm"> Método Configuración</button>
    </div>

    <div>
        <table id="tblUsuarios" class="table table-hover table-light" onclick="DesactivarBoton()">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Identificación</th>
                    <th>Teléfono</th>
                    <th>Correo eléctronico</th>
                    <th>Estado</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>


        <div class="modal" id="usuarioModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Método de configuraciones</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmUsuarios" class="form-group">
                            <h2>Datos de usuario</h2>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="txtNombre" class="form-label mt-4">Nombre</label>
                                        <input id="txtNombre" type="text" class="form-control" ColumnDataName="Nombre" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtApellidos" class="form-label mt-4">Apellidos</label>
                                        <input id="txtApellidos" type="text" class="form-control" ColumnDataName="Apellidos" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtIdentificacion" class="form-label mt-4">Identificación</label>
                                        <input id="txtIdentificacion" type="text" class="form-control" ColumnDataName="Identificacion" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtEstado" class="col-form-label" hidden>Estado</label>
                                        <input id="txtEstado" type="text" class="form-control" ColumnDataName="Estado" readonly hidden>
                                        <br>
                                        <button type="button" class="btn btn-primary" onclick="actualizarEstado(txtIdentificacion.value)">
                                            <span id="btnEstado"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="txtTelefono" class="form-label mt-4">Teléfono</label>
                                        <input id="txtTelefono" type="text" class="form-control" ColumnDataName="Telefono" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCorreoElectronico" class="form-label mt-4">Correo electrónico</label>
                                        <input id="txtCorreoElectronico" type="text" class="form-control" ColumnDataName="CorreoElectronico" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddlRol" class="col-form-label">Rol</label>
                                        <select id="ddlRol" class="form-select" ColumnDataName="Rol">
                                            <option value="1">Admin</option>
                                            <option value="2">Analista</option>
                                            <option value="3">Usuario</option>
                                            <option value="4">Premium</option>
                                        </select>
                                        <button type="button" class="btn btn-primary" style="margin-top:20px" onclick="actualizarRol(txtIdentificacion.value, ddlRol.value)">Actualizar rol</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>



<script>
    function mostrarTabla(idTabla) {
        if (idTabla === 'tblUsuarios') {
            $('#seccionUsuarios').show();
            $('#seccionLicitaciones').hide();
            $('#seccionInventario').hide();
        } else if (idTabla === 'tblInventario') {
            $('#seccionUsuarios').hide();
            $('#seccionLicitaciones').hide();
            $('#seccionInventario').show();
            MostrarInventario();
        } else {
            $('#seccionUsuarios').hide();
            $('#seccionLicitaciones').show();
            $('#seccionInventario').hide();
        }
    }

    function DesactivarBoton() {
        const estado = $('#txtEstado').val();
        let btnEstado = '';
        if (estado === '1') {
            btnEstado = 'Desactivar Usuario';
        } else if (estado === '0') {
            btnEstado = 'Activar Usuario';
        }
        $('#btnEstado').text(btnEstado);
    }
</script>

