
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-5 text-primary">Módulo de Configuración</h2>

<script> var Premium = "@Session["Premium"]"</script>
<script> var Plan = "@Session["NombrePlan"]"</script>


<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="EditarPremium" class="form-group">
                    <fieldset>
                        <legend>Membresía Premium</legend>
                        
                        <h6 class="fw-bolder">Monto actual</h6>
                        <br> @Session["Premium"]<br />

                        <div class="form-group">
                            <label for="PremiumNombre" class="form-label mt-4">Nombre Membresía</label>
                            <input type="text" class="form-control" id="NombreP" placeholder="Ingrese el nuevo nombre">
                        </div>

                        <div class="form-group">
                            <label for="PremiumCosto" class="form-label mt-4">Nuevo monto</label>
                            <input type="text" class="form-control" id="costoP" placeholder="Ingrese el nuevo costo mensual">
                        </div>

                        <div class="form-group">
                            <label for="PremiumDescripcion" class="form-label mt-4">Nueva Descripcion</label>
                            <input type="text" class="form-control" id="descripcionP" placeholder="Actualizar descripcion">
                        </div>


                        <button type="submit" class="btn btn-outline-success mt-4 bg-success text-bg-success" id="btnUpdatePremium">Actualizar </button>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
