
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/View/Configuracion.js"></script>

<script src="https://kit.fontawesome.com/b76191ee63.js" crossorigin="anonymous"></script>

<h2 class="my-5 text-primary">Módulo de Configuración</h2>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="frmPremium" class="form-group">

                    <fieldset>
                        <legend>Administrar Planes Premium</legend>
                        <button type="button" class="btn btn-primary bg-primary text-light btn-success crear" title="Crear" id="btnCrearPremium">Crear Nuevo Plan</button>
                        <br>.<br />
                        <table id="TblPremium" class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>Plan ID</th>
                                    <th>Nombre Plan</th>
                                    <th>Descripción</th>
                                    <th>Costo Membresía</th>
                                    <th>Estado Membresía</th>
                                    <th>Editar/Borrar</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </form>

                <!--MODAL PREMIUM-->
                <div class="modal" id="premiumModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Membresía Premium</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="frmPremiumModal" class="form-group">
                                    <h6>Datos del plan Premium</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="IdPremium">
                                                <label for="txtIdPremium" class="form-label mt-4">Premium ID (solo lectura)</label>
                                                <input id="txtIdPremium" type="text" class="form-control form-control-sm" data-column-name="Id" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="txtNombreP" class="form-label mt-4">Nombre del Plan</label>
                                                <input id="txtNombreP" type="text" class="form-control form-control-sm" data-column-name="Nombre" />
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDescripcionP" class="form-label mt-4">Descripción</label>
                                                <textarea id="txtDescripcionP" class="form-control" data-column-name="Descripcion"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtPrecioP" class="form-label mt-4">Costo Membresía</label>
                                                <input id="txtPrecioP" type="number" class="form-control form-control-sm" data-column-name="PrecioMensual" />
                                            </div>
                                            <div class="form-group">
                                                <label for="txtEstadoP" class="form-label mt-4">Estado</label>
                                                <input id="txtEstadoP" type="number" class="form-control form-control-sm" data-column-name="Estado" />
                                            </div>
                                            <div class="form-group">
                                                <button type="button" id="btnGuardarPremium" class="btn btn-primary mt-4 bg-primary text-light">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>


<br>.
<br />




<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="frmRole" class="form-group">
                    <fieldset>
                        <legend>Administrar Roles</legend>
                        <button type="button" class="btn btn-outline-primary mt-4 bg-primary text-bg-primary" id="btnCrearRole">Crear Nuevo Rol</button>
                        <br>.<br />
                        <table id="TblRoles" class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>Rol ID</th>
                                    <th>Nombre del Rol</th>
                                    <th>Estado del Rol</th>
                                    <th>Editar/Borrar</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </form>


                <!--MODAL ROLES-->
                <div class="modal" id="RolModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Roles de Usuarios</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="frmRolModal" class="form-group">
                                    <h6>Datos del Rol</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="IdRol">
                                                <label for="txtIdRol" class="form-label mt-4">Rol ID (solo lectura)</label>
                                                <input id="txtIdRol" type="text" class="form-control form-control-sm" data-column-name="Id" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="txtNombreR" class="form-label mt-4" data-column-name="Nombre">Nombre del Rol</label>
                                                <input id="txtNombreR" type="text" class="form-control form-control-sm" data-column-name="Nombre" />
                                            </div>
                                            <div class="form-group">
                                                <label for="txtEstadoR" class="form-label mt-4" data-column-name="Estado">Estado</label>
                                                <!--    <input id="txtEstadoR" type="number" class="form-control form-control-sm" data-column-name="Estado" /> -->
                                                <select id="txtEstadoR" class="form-control form-control-sm">
                                                    <option value="0"> -- Seleccione una opción -- </option>
                                                    <option value="1">1 - (True)</option>
                                                    <option value="2">2 - (False)</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" id="btnGuardarRol" class="btn btn-primary mt-4 bg-primary text-light">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

