
@{
    ViewBag.Title = "AbrirLicitacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
<div class="row align-items-center justify-content-center">
    <h2 class="my-2 text-primary">
        <small class="text-muted mt-5">613846</small>
        <br />
        Licitación de suministro de materiales de construcción para proyectos educativos
    </h2>
    <div class="bs-component">
        <span class="badge rounded-pill bg-info mb-4">Adjudicado</span>
    </div>
    <div class="col-lg-10">
        <div class="form-group">
            <label class="form-label pt-1">Descripción</label>
            <textarea class="form-control" readonly rows="10">Estamos buscando proveedores para suministrar 250kg de cemento y 1150 tablones de madera para nuestras próximas construcciones en la institución. La entrega de estos materiales es vital para garantizar el avance de nuestros proyectos de construcción y mejora de infraestructuras.</textarea>
        </div>
    </div>
    <div class="col-lg-10 d-flex mt-5">
        <div class="col-4">
            <p><strong>Dirección</strong></p>
            <p>
                Calle Los Pinos #456, Urbanización Los Cerezos
            </p>
            <p><strong>Fecha de expiración</strong></p>
            <p>27/05/23</p>
            @if (Session["Role"] != null)
            {
                if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
                {
                    <p><strong>Presupuesto</strong></p>
                    <p>CRC 750,000</p>
                }
            }
        </div>
        <div class="vr"></div>
        <div class="col-6">
            <table class="table mx-5">
                <thead>
                    <tr>
                        <th scope="col">Artículo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Unidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Cemento</th>
                        <td>250</td>
                        <td>KG</td>
                    </tr>
                    <tr>
                        <th scope="row">Madera</th>
                        <td>1150</td>
                        <td>Tabla(s)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (Session["Role"] != null)
        {
            if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
            {
                <div class="d-inline">
                    <button type="button" class="btn btn-outline-danger mt-4" id="btnAnularLicitacion">Anular</button>
                </div>
            }
        }

    </div>

    @if (Session["Role"] != null)
    {
        if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
        {
            <div class="row d-flex align-items-center flex-wrap">

                <h2 class="my-2 text-primary">Ofertas</h2>

                <div class="card m-2 licitation-card">
                    <div class="card-header">
                        <h3 class="mt-2">Elizabeth Allen</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Presupuesto</label>
                                    <p>CRC 210,000</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Fecha de Entrega</label>
                                    <p>23/01/23</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Orden Completa</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-footer row justify-content-between pb-6">
                        <button type="button" class="btn btn-primary my-4" id="btnAceptarLicitacion">Aceptar</button>
                    </div>
                </div>

                <div class="card m-2 licitation-card">
                    <div class="card-header">
                        <h3 class="mt-2">Jade Thompson</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Presupuesto</label>
                                    <p>CRC 350,000</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Fecha de Entrega</label>
                                    <p>15/03/23</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Orden Completa</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-footer row justify-content-between pb-6">
                        <button type="button" class="btn btn-primary my-4" id="btnAceptarLicitacion">Aceptar</button>
                    </div>
                </div>

                <div class="card m-2 licitation-card">
                    <div class="card-header">
                        <h3 class="mt-2">Lucas Park</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Presupuesto</label>
                                    <p>CRC 790,000</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Fecha de Entrega</label>
                                    <p>14/01/23</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Orden Completa</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-footer row justify-content-between pb-6">
                        <button type="button" class="btn btn-primary my-4" id="btnAceptarLicitacion">Aceptar</button>
                    </div>
                </div>

                <div class="card m-2 licitation-card">
                    <div class="card-header">
                        <h3 class="mt-2">Oliver Martin</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Presupuesto</label>
                                    <p>CRC 110,000</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Fecha de Entrega</label>
                                    <p>23/07/23</p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="return false;" type="checkbox" value="" id="offerChecksForm" />
                                    <label class="form-check-label" for="offerChecksForm">Orden Completa</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-footer row justify-content-between pb-6">
                        <button type="button" class="btn btn-primary my-4" id="btnAceptarLicitacion">Aceptar</button>
                    </div>
                </div>
            </div>
        }
        else if (Session["Role"].ToString() == "Usuario")
        {
            <div class="modal fade" id="createOfferModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Ingrese su oferta</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <fieldset>

                                <div class="row">
                                    <div class="col ml-1">
                                        <h5>Detalles de oferta</h5>
                                        <div class="form-check">
                                            <label class="form-label">Precio</label>
                                            <span class="form-text">₡</span>
                                            <input type="text" class="form-control form-control-sm" aria-label="Precio">
                                        </div>
                                        <div class="form-check">
                                            <label class="form-label">Fecha de entrega</label>
                                            <input class="form-control form-control-sm" type="date" />
                                        </div>

                                        <h5 class="mt-3">Contenidos de oferta</h5>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" checked id="offerChecksForm" />
                                            <label class="form-check-label" for="offerChecksForm">Cemento</label>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-label">Cantidad</label>
                                            <input class="form-control form-control-sm" type="text" />
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" checked id="offerChecksForm" />
                                            <label class="form-check-label" for="offerChecksForm">Madera</label>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-label">Cantidad</label>
                                            <input class="form-control form-control-sm" type="text" />
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-outline-success my-4">Enviar</button>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-primary w-25 mt-5" data-bs-toggle="modal" href="#createOfferModal" role="button">Realizar oferta</a>

        }
    }
    <!-- NESTED MODAL DEMO
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Show a second modal and hide this one with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
    -->
</div>