
@{
    ViewBag.Title = "AbrirLicitacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script> var rol = "@Session["Role"]"</script>
<script> var IdUserSession = "@Session["Id"]"</script>
<script src="~/Scripts/View/CargarLicitaciones.js"></script>
<script src="~/Scripts/View/LicitacionAbiertaHandler.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
<div class="row align-items-center justify-content-center">
    <h2 class="my-2 text-primary" id="topInfo">
        <br />
        --
    </h2>
    <div class="bs-component">
        <span class="badge rounded-pill bg-info mb-4" id="estadoLicitacion">--</span>
    </div>
    <div class="col-lg-10">
        <div class="form-group">
            <label class="form-label pt-1" for="descripcionLicitacion">Descripción</label>
            <textarea class="form-control" readonly rows="10" id="descripcionLicitacion">--</textarea>
        </div>
    </div>
    <div class="col-lg-10 d-flex mt-5">
        <div class="col-4">
            <p><strong>Dirección</strong></p>
            <p id="direccionLicitacion">
                --
            </p>
            <p><strong>Fecha de expiración</strong></p>
            <p id="expiracionLicitacion">--</p>
            @if (Session["Role"] != null)
            {
                if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
                {
                    <p><strong>Presupuesto</strong></p>
                    <p id="presupuestoLicitacion">--</p>
                }
            }
        </div>
        <div class="vr"></div>
        <div class="col-6">
            <table class="table mx-5" id="tblLicProducts">
                <thead>
                    <tr>
                        <th scope="col">Artículo</th>
                        <th scope="col">Cantidad</th>
                        @if (Session["Role"].ToString() == "Usuario")
                        {
                            <th scope="col">Cantidad oferta</th>
                            <th scope="col">Precio unidad CRC</th>
                            <th scope="col">Subtotal CRC</th>
                        }
                    </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>
        @if (Session["Role"] != null)
        {
            if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
            {
                <div class="d-inline">
                    <button type="button" class="btn btn-outline-danger mt-4" id="btnAnularLicitacion">Anular</button>
                </div>
                <div class="d-inline">
                    <button type="button" class="btn btn-outline-info mt-4" id="btnEditarLicitacion">Editar</button>
                </div>
            }
        }

    </div>

    @if (Session["Role"] != null)
    {
        if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
        {
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Ofertas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @*<div class="card m-2">
                                <div class="card-header">
                                    <h3 class="mt-2">Elizabeth Allen</h3>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <fieldset>
                                            <div class="form-check">
                                                <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                                <label class="form-check-label" for="offerChecksForm">Presupuesto</label>
                                                <p>CRC 210,000</p>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" onclick="return false;" type="checkbox" value="" checked id="offerChecksForm" />
                                                <label class="form-check-label" for="offerChecksForm">Fecha de Entrega</label>
                                                <p>23/01/23</p>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" onclick="return false;" type="checkbox" value="" id="offerChecksForm" />
                                                <label class="form-check-label" for="offerChecksForm">Orden Completa</label>
                                                <br />
                                                <a data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"><small>Detalles</small></a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="card-footer row justify-content-between pb-6">
                                    <button type="button" class="btn btn-outline-primary my-4" id="btnAceptarLicitacion">Aceptar</button>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" data-bs-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Productos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                            <table class="table mx-5">
                                <thead>
                                    <tr>
                                        <th scope="col">Artículo</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Unidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    >
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-primary w-25 mt-5" data-bs-toggle="modal" id="ModalOfertas" role="button" >Ofertas</a>
        }
        else if (Session["Role"].ToString() == "Usuario")
        {
        <div style="display:flex; flex-direction:column; align-items:center;">
            <label for="MontoOfer">Monto de la Oferta CRC</label>
            <input type='number' class='form-control form-control-sm w-25' readonly id='MontoOfer' style="margin-bottom: 10px; ">
            <label for="FechaEntregaOfer">Fecha de Entrega</label>
            <input type='date' class='form-control form-control-sm w-25' id='FechaEntregaOfer' style="margin-bottom: 10px;">
            <a class="btn btn-outline-primary w-25" data-bs-toggle="modal" id="CrearOferta" role="button" style="margin-top: 10px;">Realizar oferta</a>
        </div>


        }
    }
</div>
