
@{
    ViewBag.Title = "Licitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/View/CargarLicitaciones.js"></script>


@if (Session["Role"] != null)
{
    if ((Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Analista"))
    {
        <div class="row d-flex align-items-center flex-wrap justify-content-center mt-5">

            <a>@Html.ActionLink("Crear licitación", "CrearLicitaciones", "Licitacion", new { area = "" }, new { @class = "btn btn-outline-primary" })</a>
        </div>
    }
}


<!--if (Session["Role"].ToString() == "Usuario")
{-->
<h2 class="my-5 text-primary">Nuevo</h2>
<div id="licitacion-dock" class="card-columns"></div>
@if (Session["Role"] != null)
{
    <a> @Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
}




