@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario</h2>

<script src="~/Scripts/View/InventarioHandler.js"></script>

<script src="~/Scripts/View/DataTesting.js"></script>

<script src="https://kit.fontawesome.com/b76191ee63.js" crossorigin="anonymous"></script>
<section id="seccionInventario">
    <div>
        <table id="tblInventario" class="table table-hover table-light">
            <thead>
                <tr>
                    <th>Id Producto</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Acciones <button class="btn btn-sm btn-success crear" data-toggle="tooltip" title="Crear"><i class="fas fa-plus"></i></button></th>
                </tr>
            </thead>
        </table>
        <div id="popupModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Popup View</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="popupContent"></div>
                </div>
            </div>
        </div>
    </div>
</section>